@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300&display=swap');

:root {
    --text: #0A1D1F;
    --accent: #005D3E;
    --accent2: #FFE999;
    --bg: #F8F4F1;
    --link: #915B3B;
}

html {
    background-color: var(--bg);
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
    color: var(--accent);
    margin-bottom: -0.8%;
}

p {
    font-family: 'Roboto Mono', monospace;
    color: var(--text);
    font-size: 0.9em;
}

a {
    font-family: 'Roboto Mono', monospace;
    color: var(--link);
    margin-right: 2%;
}

a:hover {
    background-color: var(--accent2);
}

#display-box {
    border: 0.13em dashed var(--accent);
    border-radius: 10px;
    margin: auto;
    margin-top: 3%;
    padding: 1.5%;
    width: 40%;
}
