/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;    
}
/* track */
::-webkit-scrollbar-track {
    background: whitesmoke; 
    border-radius: 10px;
}
/* handle */
::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
}

/* Html and Body*/
html {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

/*Menu*/
/* code for menu responsiveness on small screens */
@media screen and (max-width: 600px) {
    .menu  {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    } 
}
@media screen and (max-width: 600px) {
  .menu li:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
    .menu.responsive {
        position: absolute;
    }
    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        color: white;
    }
  .menu.responsive li {
    float: none;
    display: block;
    text-align: right;
    right: 0;
  }
}
/* menu design */
.menu {
    list-style-type: none;
    margin: auto 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-color:black;

    border-left: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99 !important; 
    
}
.menu .icon {
    display: none;
}
.menu li {
    float: right;
    padding-right: 1%;
}
.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
/*change color on hover */
.menu li a:hover {
    background-color: white;
    color: black;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

/*Parallax image */
* {
    box-sizing: border-box;
}
.parallax { 
    /* The image used */
    background-image: url("media/headerImage.png");

    /* Height */
    height: 90%;
    width: 40%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Position */
    float: right;
    margin-right: 2%;
    !top: 0;
}
@media (max-width:629px) {
    .parallax {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
}

/* Name Header */
.title {
    width: 50%;
    position: relative;
    float:left;
    padding-left: 5%;
    border: 3px solid black;
    margin-top: 7%;
    padding: 5%;
    
}
.title h1 {
    font-size:7vw;
    font-family: 'GlacialIndifferenceBold'; 
    margin: 0%;
}
.title h4 {
    font-size: 2vw;
    font-family: 'Didact Gothic', sans-serif;
    margin: 0%;
}
@media (max-width:629px) {
    .title {
        position: relative;
        width: 100%;
        border: none;
        
    }
    .title h1 {
        padding-top: 10%;
        font-size: 20vw;
        text-align: center;
        color: white;
    }
    .title h4 {
        font-size: 10vw;   
        text-align: center;
        color: white;
    }
}


/* Featured section */
.featured {
    display: inline-block;
    width: 100%;
    left: 50%;
    background-color: white;
}
/* title */
.featured h3 {
    padding: 1%;
    font-size: 300%;
    font-family: 'GlacialIndifferenceBold'; 
    color: white;
    display: block;
    text-align: center;
    background-color: black;

}
/* quicklinks */

.links {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.links button p {
    color: black;
    padding: 2%;
    width: 100%;
    height: 100%;
}

.header {
    height: 100%;
}

.links button {
    font-family: 'Nunito', sans-serif;
    background-color: #ffffff;
    color: black;
    padding-top: 2%;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4%;
    cursor: pointer;
}
@media (max-width:629px) {
    .links {
        width: 100%;
        height: 20%;
    }
    .links button {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
}

/* body text */
p {
    color: black;
    font-family: 'Didact Gothic', sans-serif;
}
